.md-sidenav-left {
  height: 100%;
  background-color: #
}
.nav-header {
  margin-left: 20px;
}
.nav-header a {
  color: white;
  text-decoration: none;
}
.site-content {
  background-color: #f6f6f6;
  padding: 40px;
}
.coffeeshop-content {
  padding: 40px;
}
