.logo-container {
  margin-right: 40px;
}
.logo-container img {
  max-width: 500px;
}
.shop-info-keys {
  font-weight: bold;
  margin-right: 40px;
}
.maps-container {
  margin-top: 40px;
  height: 400px; 
  width: 700px;
}
.angular-google-map-container { 
  height: 400px; 
  width: 700px;
}
